<!DOCTYPE html>
<html lang="en", dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    <form action="/users/login" method="post">
      <input type="text" name="id" value="id"/br> <br>
      <input type="text" name="password" value="password"/br> <br>
      <input type="submit" value="login">

    </form>
  </body>
</html>
