
.top_header{
    display: flex;
    height: 130px;
    /* border-bottom: 1px solid #ffffff; */
    position: relative;
}

.Header_Logo{
    position: absolute;
    left: 60px;
}
.Header_Logo img{
    margin-left: 30px;
}
.Header_Logo p{
    line-height: 0.3;
    font-size: 38px;
    margin: 0;
    font-weight: bold;
}

.header_list{
    display: flex;
    font-size: 28px;
    position: absolute;
    right: 60px;
}


.header_list div{
    margin-right: 30px;
    line-height: 130px;
    color: white;
    font-weight: 600;
}

html{
    height: 100%;
}

body{
    background-position: center center;
    background-repeat: no-repeat;
}

a{
    color: black;
}