<!DOCTYPE html>
<html lang="en", dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign_up Page</title>
  </head>
  <body>
    <form action="/users/sign_up" method="post">
      <input type="text" name="id" value="id"/br> <br>
      <input type="text" name="password" value="password"/br> <br>
      <input type="text" name="nickname" value="name"/br> <br>
      <input type="email" name="email" value="email"/br> <br>
      <button type="submit" name="button">회원가입</button>
    </form>
  </body>
</html>
