<!DOCTYPE html>
<html lang="en", dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign_up Page</title>
  </head>
  <body>
    <form action="/users/sign_up" method="post">
      <input type="text" name="userid" value="id"/br> <br>
      <input type="text" name="userpassword" value="password"/br> <br>
      <input type="text" name="username" value="name"/br> <br>
      <input type="text" name="useremail" value="email"/br> <br>
      <input type="text" name="userphone" value="phone"/br> <br>
      <input type="text" name="usergithub" value="github"/br> <br>
      <input type="text" name="userblog" value="blog"/br> <br>
      <input type="submit">

    </form>
  </body>
</html>
