
.main-content{
    position:absolute; width:800px; height:400px; top:50%; left:50%; margin-top:-200px; margin-left:-400px;
    color:white;
  }
  
  .main-content-title{
    font-size: 66px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .main-content-content{
    font-size: 24px;
    width: 500px;
    margin-left: 150px;
  }
  