.myMain{
    width : 20%;
    height : 60%;
    margin-top :40px;
    border-right: 1px solid #34383b;
    position: absolute;
}

.myHeader {
    font-size: 30px;
    width : 63%;
    height : 17%;
    border-bottom : 1px solid #34383b;;
    margin-left: 30px;
    margin-top : 30px;
}

.temp{
    font-size: 20px;
    margin-left: 30px;
    margin-top : 30px;
}

.size{
    font-size: 20px;
    margin-left: 30px;
    margin-top : 10px;
}

.streaming{
    font-size: 20px;
    margin-left: 30px;
    margin-top : 10px;
}

.camera{
    font-size: 20px;
    margin-left: 30px;
    margin-top : 10px;
}