img.sub_bg {
    position: absolute;
    top: 0;
    height: 500px;
    width: 100%;
    z-index: -1;
  }

#inputNursery{	
    background: url("../img/edit-pencil@2x.png") no-repeat right 10px;
    background-position-y: 30%;
    font-family: SpoqaHanSans;
    font-size: 26px;
    width: 500px;
    border-bottom: 2px solid #868e96;
    margin-top: 140px;

  }

.register-main{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 57%;
    display: flex;
}

.register-sub-title{
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;
  color : gray;
}

.register-main div{
  font-size: 50px;
  font-weight: bold;
  margin-top: 15px;
}

.nursery-register{
  width: 45%;
  height: 100%;
  margin-left: 5%;
  border-right: 2px solid #868e96;
}

.my_nursery_list{
  margin-left: 75px;
}

.my_nursery_list_detail{
  margin-top: 30px;
  margin-left: 30px;
}

.my_nursery_list_detail div{
  font-size: 25px;
  font-weight: normal;
}

@media (max-width: 1000px){
  #inputNursery{
    margin-top: 90px;
    width: 350px;
  }
  .register-sub-title{
    margin-right: 10px;
  }

  .form-control{
    width: 300px !important;
  }
  .my_nursery_list{
    margin-left: 25px;
  }

  .btn-primary{
    left:150px !important;
    top: 350px !important;
  }

}