.streamingPage{
    width: 70%;
    left : 20%;
    top : 20%;
    position: absolute;
}
.streamingHeader{
    font-size : 23px;
    font-weight: bold;
}

.streamingList{
    padding-top: 5%;
    font-size: 22px;
}

.streamingList div{
    margin-bottom: 30px;
}

.streamingcameraSelect{
    width: 15%;
    height: 50px;
    position: absolute;
    left: 12%;
    font-size: 20px;
    font-weight: bold;
    bottom: 80%;
}